<!DOCTYPE html>
<html>
<head>
    <title>Inventory Management</title>
</head>
<body>
    <h1>Inventory Movements</h1>
    <form action="/add_movement" method="post">
        <label for="movement_id">Movement ID:</label>
        <input type="text" id="movement_id" name="movement_id" required><br>

        <label for="from_location">From Location:</label>
        <input type="text" id="from_location" name="from_location"><br>

        <label for="to_location">To Location:</label>
        <input type="text" id="to_location" name="to_location"><br>

        <label for="product_id">Product ID:</label>
        <input type="text" id="product_id" name="product_id" required><br>

        <label for="qty">Quantity:</label>
        <input type="number" id="qty" name="qty" required><br>

        <input type="submit" value="Add Movement">
    </form>
    <br>
    <h2>
        Product ID
    </h2>
    <ul>
        <li>012 - IPhone</li>
        <li>013 - MacBook</li>
        <li>014 - IPad</li>
    </ul>

    <h2>
        Movement ID
    </h2>
    <ul>
        <li>1212 - Road</li>
        <li>1354 - Sea</li>
        <li>5675 - Rail</li>
    </ul>
    <h2>Inventory Movement History:</h2>
    <table>
        <tr>
            <th>Movement ID</th>
            <th>Timestamp</th>
            <th>From Location</th>
            <th>To Location</th>
            <th>Product ID</th>
            <th>Quantity</th>
        </tr>
        {% for movement in movements %}
            <tr>
                <td>{{ movement[0] }}</td>
                <td>{{ movement[1] }}</td>
                <td>{{ movement[2] }}</td>
                <td>{{ movement[3] }}</td>
                <td>{{ movement[4] }}</td>
                <td>{{ movement[5] }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
